<div layout="vertical" layout-fill>

<div class="datagrid">
  <table>
      <thead>
      <tr>
          <th></th>
          <th>Ip</th>
          <th>Gültig bis</th>
          <th>Host name</th>
          <th>Network Manufacturer</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="lease in main.leases">
          <td>{{lease.data['binding state']}}</td>
          <td>{{lease.ip}}</td>
          <td>{{lease.data.ends}}</td>
          <td>{{lease.data['client-hostname']}}</td>
          <td>{{lease.data.macManufacturer}}</td>          
      </tr>
      </tbody>
              
      
  </table>
</div>
  <!--<md-list>      
      <md-list-item ng-repeat="lease in main.leases">          
          <span>{{lease.ip}}</span>
          <span>{{lease.data['client-hostname']}}</span>
          
  </md-list>-->

</div>
