<div class="container">
 <acme-navbar creation-date="main.creationDate"></acme-navbar>
 
<div class="">
  <table class="table table-striped">
      <thead>
      <tr>
          <th></th>          
          <th>Ip</th>
          <th>Gültig von</th>
          <th>Gültig bis</th>
          <th>Host name</th>          
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="lease in main.leases">
          <td><span ng-if="lease.data['binding state']=='active'" class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
          <td>{{lease.ip}}</td>
          <td>{{lease.data.starts}}</td>
          <td>{{lease.data.ends}}</td>
          <td>{{lease.data['client-hostname']}}</td>                    
      </tr>
      </tbody>
              
      
  </table>
</div>


</div>
